<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<div>

 
</div>

  <ion-card>
    <ion-card-header>
      <img alt="gare-routiere-bejaia" src="assets/img/gare-routiere-bejaia.jpg" /><figcaption><center>Gare routière de Béjaia</center></figcaption>
    </ion-card-header>
  </ion-card>
  <ion-card>
  <ion-card-header>
      <ion-card-subtitle>Application de suivi des bus à Feraoun</ion-card-subtitle>
      <ion-card-title>Andalath El Bus</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="has-text-align-justify">
    Bienvenue sur Andalath El bus, votre application qui vous permet de suivre les bus dans votre commune de Feraoun
  </div>
  </ion-card-content>
    <ion-card-content>
      <div class="has-text-align-justify">
      Première application web facilitant le suivi des horaires de bus dans la commune de Feraoun à destination d'Amizour et/ou Béjaia.
    </div>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="has-text-align-justify">
      N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application
      <a href="http://andalath.fr/contact">Contactez-nous</a>
      </div>
    </ion-card-content>

  </ion-card>

 
</ion-content>
