<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- wp:cover {"url":"https://andalath.files.wordpress.com/2021/07/gare-routiere-bejaia.jpg","id":161,"dimRatio":10,"align":"full"} -->
<div class="wp-block-cover alignfull has-background-dim-10 has-background-dim"><img class="wp-block-cover__image-background wp-image-161" alt="" src="https://andalath.files.wordpress.com/2021/07/gare-routiere-bejaia.jpg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:jetpack/layout-grid {"column1DesktopSpan":12,"column1TabletSpan":8,"column1MobileSpan":4,"column2DesktopSpan":6,"column2TabletSpan":4,"column2MobileSpan":4,"column3DesktopSpan":4,"column3TabletSpan":8,"column3MobileSpan":4,"className":"column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1"} -->
  <div class="wp-block-jetpack-layout-grid alignfull column1-desktop-grid__span-12 column1-desktop-grid__row-1 column1-tablet-grid__span-8 column1-tablet-grid__row-1 column1-mobile-grid__span-4 column1-mobile-grid__row-1"><!-- wp:jetpack/layout-grid-column -->
  <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none"><!-- wp:heading {"textAlign":"center","level":1,"textColor":"background"} -->
  <h1 class="has-text-align-center has-background-color has-text-color">Bienvenue sur Andalath El bus, votre application qui vous permet de suivre les bus dans votre commune de Feraoun</h1>
  <!-- /wp:heading -->
  
  <!-- wp:paragraph {"align":"center","style":{"color":{"background":"#87a48a"}},"textColor":"background"} -->
  <p class="has-text-align-center has-background-color has-text-color has-background" style="background-color:#87a48a">Première application web facilitant le suivi des horaires de bus dans la commune de Feraoun à destination d’<a href="https://fr.wikipedia.org/wiki/Amizour">Amizour</a> et/ou de <a href="https://fr.wikipedia.org/wiki/B%C3%A9ja%C3%AFa">Béjaia</a></p>
  <!-- /wp:paragraph --></div>
  <!-- /wp:jetpack/layout-grid-column --></div>
  <!-- /wp:jetpack/layout-grid --></div></div>
  <!-- /wp:cover -->
  
 
  <!-- wp:paragraph {"className":"has-text-align-justify"} -->
  <p class="has-text-align-justify">N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application:</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p> <a href="http://andalath.fr/contact">Contactez-nous</a> </p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p>Pour avoir les horaires de passage des bus par arrêt, cliquer sur lien ci-dessous:</p>
  <!-- /wp:paragraph -->
  
  <!-- wp:paragraph -->
  <p><a href="http://andalath.fr/horaires">Horaires des bus Feraoun - Amizour - Béjaia </a></p>
  <!-- /wp:paragraph -->
</ion-content>
