<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bus</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    
   </div>
<ion-card>
  <ion-card-header>
    <figure><img alt="Bus Toyota" src="assets/img/bus-toyota.jpg" /></figure>
  </ion-card-header>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-title>Lignes de bus à Feraoun</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="has-text-align-justify">
    Liste des bus desservant la commune de Feraoun avec le nom des propriétaires, le N° de ligne, type de bus...
    Trois lignes de bus permettent de relier la commune de Feraoun à celles d'Amizour et/ou  de Béjaia. En bref, voici donc ces lignes :
</div>
</ion-card-content>

<ion-item-divider color="warning"> 
  <ion-label>
    Liste des lignes de bus de Feraoun 
  </ion-label>
</ion-item-divider>
<ion-list>
    <ion-item><ion-label>N° 062004 : Feraoun Amizour</ion-label></ion-item>
    <ion-item><ion-label>N° 062005 : Feraoun Amizour Béjaia</ion-label></ion-item>
    <ion-item><ion-label>N° 062006 : Tifritine Feraoun Amizour Béjaia</ion-label></ion-item>
</ion-list>

</ion-card>

<ion-card>

<ion-item-divider color="success"> 
  <ion-label>
    Liste des bus
  </ion-label>
</ion-item-divider>
<ion-list>
  <ion-item><ion-label>Azzoug Nacir     </ion-label></ion-item>
  <ion-item><ion-label>Bendahmane Hamza </ion-label></ion-item>
  <ion-item><ion-label>Aghelis Djamel   </ion-label></ion-item>
  <ion-item><ion-label>Amaouche Madani  </ion-label></ion-item>
  <ion-item><ion-label>Gana Hanafi      </ion-label></ion-item>
  <ion-item><ion-label>Saadi Rachid     </ion-label></ion-item>
  <ion-item><ion-label>Hara Brahim      </ion-label></ion-item>
  <ion-item><ion-label>Bouzebra Saadi   </ion-label></ion-item>
  <ion-item><ion-label>Meddour Djelloul </ion-label></ion-item>
  <ion-item><ion-label>Baroudi Djoudi   </ion-label></ion-item>
  <ion-item><ion-label>Soualmi Zoubir   </ion-label></ion-item>
  <ion-item><ion-label>Saadi Mahieddine </ion-label></ion-item>
  <ion-item><ion-label>Bahloul Billal   </ion-label></ion-item>
  <ion-item><ion-label>Aghelis Nacir    </ion-label></ion-item>
  <ion-item><ion-label>Mammeri Locif    </ion-label></ion-item>
  <ion-item><ion-label>Aghelis Md Arezki</ion-label></ion-item>
  <ion-item><ion-label>Soualmi Deridj   </ion-label></ion-item>
  <ion-item><ion-label>Dahmani Mustapha </ion-label></ion-item>

</ion-list>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-title>Contact</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="has-text-align-justify">
    N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application
    <a href="http://andalath.fr/contact">Contactez-nous</a>
    </div>
  </ion-card-content>

</ion-card>

</ion-content>
