<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Horaires</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
  
   </div>


<ion-card>
  <ion-card-header>
    <figure><img alt="Horaires" src="assets/img/horaires-bus.png" /></figure>
  </ion-card-header>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-title>Se déplacer à Feraoun</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Besoin de vous déplacer de Feraoun à Amizour ou à Béjaia ? Evidemment, c'est plus simple et plus pratique avec une application qui vous permet de retrouver les bus de votre région et les informations nécessaires afin de préparer votre trajet.
</ion-card-content>

<ion-card-header>
  <ion-card-title>Horaires de passage des bus</ion-card-title>
</ion-card-header>
<ion-card-content>Voici donc un tableau les horaires de passage des bus par arrêt, plans et pleins d’autres détails…
</ion-card-content>

<ion-item-divider color="success"> 
  <ion-label>
    Direction Béjaia
  </ion-label>
</ion-item-divider>
<ion-list>
  <ion-item><ion-label>Tifritine</ion-label></ion-item>
  <ion-item><ion-label>Tizi</ion-label></ion-item>
  <ion-item><ion-label>Tagma</ion-label></ion-item>
  <ion-item><ion-label>Feraoun</ion-label></ion-item>
  <ion-item><ion-label>Akentas</ion-label></ion-item>
  <ion-item><ion-label>Ichekaben</ion-label></ion-item>
  <ion-item><ion-label>Igher Guindouz</ion-label></ion-item>
  <ion-item><ion-label>Iguer Ali</ion-label></ion-item>
  <ion-item><ion-label>Timsiline</ion-label></ion-item>
  <ion-item><ion-label>Amizour</ion-label></ion-item>
  <ion-item><ion-label>Béjaia</ion-label></ion-item>

  <ion-item-divider color="warning">
    <ion-label>
      Direction Feraoun
    </ion-label>
  </ion-item-divider>

    <ion-item><ion-label>Béjaia</ion-label></ion-item>
    <ion-item><ion-label>Amizour</ion-label></ion-item>
    <ion-item><ion-label>Timsiline</ion-label></ion-item>
    <ion-item><ion-label>Iguer Ali</ion-label></ion-item>
    <ion-item><ion-label>Igher Guindouz</ion-label></ion-item>
    <ion-item><ion-label>Ichekaben</ion-label></ion-item>
    <ion-item><ion-label>Akentas</ion-label></ion-item>
    <ion-item><ion-label>Feraoun</ion-label></ion-item>
    <ion-item><ion-label>Tagma</ion-label></ion-item>
    <ion-item><ion-label>Tizi</ion-label></ion-item>
    <ion-item><ion-label>Tifritine</ion-label></ion-item>
  
</ion-list></ion-card>



<ion-card>
<ion-card-header>
<ion-card-title>Contact</ion-card-title>
</ion-card-header>
<ion-card-content>
N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application
<a href="http://andalath.fr/contact">Contactez-nous</a>
</ion-card-content>
</ion-card>







</ion-content>
