<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tarifs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

     </div>
  

  <ion-card>
    <ion-card-header>
      <figure><img alt="Contact" src="assets/img/ticket.png" /></figure>
    </ion-card-header>
  </ion-card>
  <ion-card>
  <ion-card-header>
      <ion-card-title>Tarifs et points de vente</ion-card-title>
     </ion-card-header>

    <ion-card-content>
      Pour vos déplacements en transport en commun de Feraoun vers Amizour et/ou Béjaia, vous pouvez acheter votre ticket directement auprès de votre conducteur ou receveur dans le bus.
    </ion-card-content>
    
<ion-item-divider color="warning"> 
  <ion-label>
    Les tarifs des déplacements
  </ion-label>
</ion-item-divider>
<ion-list>
    <ion-item><ion-label>Feraoun Amizour: 45DA</ion-label></ion-item>
    <ion-item><ion-label>Tifritine Feraoun Amizour: 65DA</ion-label></ion-item>
    <ion-item><ion-label>Feraoun Amizour Béjaia: 70DA</ion-label></ion-item>
    <ion-item><ion-label>Tifritine Feraoun Amizour Béjaia: 85DA</ion-label></ion-item>
    <ion-item><ion-label>Tout déplacement dans Feraoun: 20DA</ion-label></ion-item>
</ion-list>

<ion-card-content>
    <figure><img src="assets/img/ticket-Tifritine-Bejaia.jpg" alt="ticket-Tifritine-Bejaia"/><figcaption>Ticket de transport Tifritine &gt; Béjaia </figcaption></figure>
    <figure><img src="assets/img/ticket-Feraoun-Bejaia.jpg" alt="ticket-Feraoun-Bejaia" /><figcaption >Ticket de transport Feraoun &gt; Béjaia</figcaption></figure>
  </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contact</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application
    <a href="http://andalath.fr/contact">Contactez-nous</a>
  </ion-card-content>

</ion-card>

</ion-content>
