<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>

</div>
<ion-card>
  <ion-card-header>
    <img src="assets/img/apropos.png" alt="Amokrane, à l'initiative de l'appli Andalath">
  </ion-card-header>
</ion-card>
<ion-card>
<ion-card-header>
    <ion-card-subtitle>Application de suivi des bus à Feraoun</ion-card-subtitle>

  </ion-card-header>
  <ion-card-content>
    <div class="has-text-align-justify">
    Voici l'application web qui facilite vos déplacements. Vous y trouverez tous les horaires de passage des bus dans la commune de Feraoun (vers  <a href="https://fr.wikipedia.org/wiki/Amizour">Amizour</a> et/ou <a href="https://fr.wikipedia.org/wiki/B%C3%A9ja%C3%AFa">Béjaia</a>).
    </div>
  </ion-card-content>
  <ion-card-content>
    <div class="has-text-align-justify">
    J’ai pris un immense plaisir à créer cette application web. Et quand je constate qu'elle vous est utile, au travers de vos message et de vos retours, cela me gratifie encore davantage et m’encourage pour y consacrer encore plus de temps à l’enrichir et la mettre à jour régulièrement.
    Merci encore à tous les visiteurs…
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contact</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="has-text-align-justify">
    N'hésitez pas à nous soumettre vos remarques et suggestions via le formulaire de contact en cliquant sur le lien ci-dessous ou en passant par le menu principal de l'application
    <a href="http://andalath.fr/contact">Contactez-nous</a>
    </div>
  </ion-card-content>

</ion-card>

</ion-content>
