<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Arrêts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h2>Tarifs et points de vente</h2>
  <p class="has-text-align-justify">Pour vos déplacements en transport en commun de Feraoun vers <a href="https://fr.wikipedia.org/wiki/Amizour">Amizour</a> et/ou <a href="https://fr.wikipedia.org/wiki/B%C3%A9ja%C3%AFa">Béjaia</a>, vous pouvez vous procurez votre ticket directement auprès de votre conducteur ou receveur dans le bus.</p>
  Trois lignes de bus permettent de relier la commune de Feraoun à celles d’Amizour et/ou de Béjaia. Voici donc ces lignes :

  <ul><li>Feraoun &lt;&gt; Amizour : 45 DA</li><li>Tifritine &lt;&gt; Feraoun &lt;&gt; Amizour : 650 DA</li><li>Feraoun &lt;&gt; Amizour &lt;&gt; Béjaia : 70 DA</li><li>Tifritine &lt;&gt; Feraoun &lt;&gt; Amizour &lt;&gt; Béjaia : 850 DA</li><li>Tout déplacement au sein de la commune de Feraoun, par exemple d'Iguer Ali à Feraoun, coûtera : 20 DA </li></ul>

</ion-content>
